    <%- include("partials/header.ejs")%>
    <nav>
      <div class="nav-container">
        <div class="nav-container">
          <div class="nav-list"><li><a href="/"></a>home</li></div>
          <div class="nav-list"><li>about</li></div>
          <div class="nav-list"><li>search</li></div>
          <div class="nav-list"><li><a href="#comments"></a>comment</li></div>
      </div>
    </div>
    </nav>
    <main>
      <div class="main-container">
      <section id="home" >
        <div class="container">        
        <h2>Wanna try hiking?</h2>
        <p>
          I remember the first time my friend invited me to go hiking. I never
          tried hiking on a mountain before so I was very curious. At that time,
          I was also bit depressed because of my failed relationship, so to
          fight my loneliness, I didn’t hesitate and I joined the party.
        </p>
        <p>
          I never thought it was so enjoyable. The calmness of nature, the
          breathtaking views, the smell of leaves and grass, that sound of birds
          chirping and water splashing in the river. I almost forgot that I had
          that freedom! The liberty to roam, to experience and appreciate God’s
          creation in my own way. I’m really thankful for my friends that day.
        </p>
        <p>
          If you are like me who just want to hike a single day or want to
          travel with friends that has same interests in mountain hiking but are
          unsure if they might make it on the top, I hope this list can help
          you.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Pico De Loro(Maragondon, Cavite, and Nasugbu, Batangas)</h2>
        <img src="/images/pico_de_loro.jpg" alt="pico de loro">
        <p>
          If you start early in the morning, you get a chance to see monkeys
          scavenging their surroundings for their first meal. Sometimes dogs
          serve as extra tour guides as they tag along in the trail. It’s a
          three-hour climb so it’s best to enjoy every step of this adventure.
          The summit offers a 360-degree view of Cavite and Batangas. You can
          also see the famous Parrot’s Beak or Monolith.
        </p>
        <p>Budget: P700 to P1,000</p>
        <p>Travel time from Manila: Two hours</p>
        <p>
          How to get there: Ride a bus at Coastal Mall going to Ternate where
          you can rent a jeep or tricycle to the jump-off point.
        </p>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Balagbag - Maranat (Rodriguez, Rizal)</h2>
        <img src="/images/mt_balagbag.jpg" alt="mt.Balagbag">
        <img src="/images/maranat_falls.jpg" alt="maranat falls">
        <p>
          Don’t waste your time on just an hour-long climb to the Mt. Balagbag
          summit. Instead, do a traverse, which means you’ll travel or hike over
          or across mountains. You will need a guide for this. (Help the locals
          out, yes?)
        </p>
        <p>
          First, head to the Maranat Falls where you can have a refreshing swim.
          Make the most out of your stay because after you take a dip, it will
          be a two-hour traverse going to Mt. Balagbag, with a 45-minute
          vertical climb. The best time to reach Mt. Balagbag is in the late
          afternoon before sunset. You’ll fall in love with how the sun sets
          over the mountain range.
        </p>
        <p>Budget: P650 to P800</p>
        <p>Travel time from Manila: Two hours</p>
        <p>
          How to get there: Hop on a bus at Cubao going to Tungko. Ride a jeep
          to Licao-Licao and then get a tricycle to take you to the Barangay
          Hall.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Batulao (Nasugbu, Batangas)</h2>
        <img src="/images/mt_batulao.jpg" alt="mt.batulao">
        <p>
          Take Mt. Batulao’s open trails to experience its rolling slopes and
          bask in the scenic views of Batangas. You will go up and down the
          varying ridges and gullies of the mountain. Locals recommend that
          beginners take the new trail as it provides a faster way to reach the
          summit (about one to 1.5 hours). If you wish to take on a challenge,
          you can take the old trail of Mt. Batulao (two to 2.5 hours), and then
          the new trail going down. Go on a pleasant day hike to what they call
          “Bato sa Ilaw.”
        </p>
        <p>Budget: P600 to P900</p>
        <p>Travel time from Manila: 2.5 hours</p>
        <p>
          How to get there: Ride a Nasugbu-bound bus at Buendia, go down at K.C.
          Hillcrest (former Evercrest). Rent a tricycle going to the jump-off
          point.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Daguldol (San Juan, Batangas)</h2>
        <img src="/images/mt_daguldol.jpg" alt="mt.daguldol">
        <p>
          The guides from Hugom Environmental Guides Association will take you
          on a smooth and gradual climb to this coastal mountain where woodlands
          and light forests will greet you. You can get a good view of the Laiya
          coastline every now and then while going up. Butterflies, palm trees,
          flowers, and fruits can also be seen along the trail. Even though it’s
          not as spectacular as other mountains in terms of views, Mt. Daguldol
          gives its visitors a refreshing climb courtesy of the sea breeze. You
          can hit the Laiya beaches after your hike, too!
        </p>
        <p>Budget: P850 to P1,150</p>
        <p>Travel time from Manila: Four hours</p>
        <p>
          How to get there: Take an ALPS Bus from Buendia to San Juan, Batangas.
          Ride a jeep to Barangay Hugom, and then take a tricycle to Mt.
          Daguldol’s jump-off point.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt Batolusong (Tanay, Rizal)</h2>
        <img src="/images/mt_batolusong.jpg" alt="mt.batolusong">
        <p>
          Mt. Batolusong is just one of the many potential hiking destinations
          in Tanay, since the town is part of the southern tailend of the Sierra
          Madre, the longest mountain range in the Philippines.
        </p>
        <p>
          Mapatag Plateau (645m) can be the final endpoint of the hike; it is a
          grassland slope that serves as a scenic viewpoint and a possible
          campsite. Actually, for some locals, “Batolusong” refers to this
          plateau and the valley next to it. However, it is also possible to go
          to Susong Dalaga Peak (780m est.) which takes about two hours from
          Mapatag Plateau according to our San Andres-based guides Boboy and
          Michael. The itinerary below anticipates various preferences. Should
          the Sitio Kay-ibon Trail open, a traverse is very possible from San
          Andres, and vice-versa. Moreover, Kay-Ibon Falls, a little farther off
          the trail, is a nice detour.
        </p>
        <p>Budget: P600-P800</p>
        <p>Travel time from Manila: 1.5-2 hours</p>
        <p>
          How to get there: From Cubao, head to Cogeo 2 Terminal in Antipolo.The
          Cogeo Gate 2 jeepney is the same jeep that hikers take to Mt. Irid.
          Get off at ‘Batangas’ junction where there is an entrance arch for
          Brgy. San Andres. Take a habal-habal to the barangay (P70/trip).
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Gulugod Baboy (Mabini, Batangas)</h2>
        <img src="/images/mt_gulugod_baboy.jpg" alt="mt.gulugod baboy">
        <p>
          We’re not joking when we say that this mountain is a piece of cake.
          For experienced hikers, it will take only an hour going to the summit.
          For beginners, it will take about two to 2.5 hours with multiple stops
          to rest and recover. Since it’s a coastal mountain, be ready with your
          windbreaker jacket. The funny thing about the summit is that there’s a
          road on the other side. So if you don’t feel like going down by foot,
          you can hire a tricycle for P500. Since this will only take you about
          half a day, go for a swim or dive at the nearby resorts.
        </p>
        <p>Budget: P700 to P900</p>
        <p>Travel time from Manila: Two to 2.5 hours</p>
        <p>
          How to get there: Ride a DLTB Bus at Buendia going to the Batangas
          Grand Terminal. From there, ride a Mabini-bound jeep. You can pay to
          have the driver drop you off at the Crossing where you can take a
          tricycle or pay him extra so he can take you straight to the jump-off
          point (near Philpan Dive Resort).
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Maculot (Cuenca, Batangas)</h2>
        <img src="/images/mt_maculot.jpg" alt="mt.maculot">
        <p>
          The Mt. Maculot trail does not beat around the bush as the climb
          becomes steep and moderately difficult. It has three destinations: the
          Rockies (most famous), the Summit, and the Grotto, which can also be
          explored as a traverse day hike. The saddle, which serves as a
          jump-off point going to the Rockies and the Summit, also acts as the
          camp site for mountaineers who wish to spend the night. The famous
          Rockies provides one of the best views of the Taal Lake and Volcano.
        </p>
        <p>Budget: P600 to P900</p>
        <p>Travel time from Manila: 2.5 hours</p>
        <p>
          How to get there: Ride a Lemery-bound bus from Buendia and have the
          driver drop you off at Cuenca town. Take a tricycle to the jump-off
          point.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Manalmon (San Miguel, Bulacan)</h2>
        <img src="/images/mt_manalmon.jpg" alt="mt.manalmon">
        <p>
          You’ll be surprised to find out that Mt. Manalmon is actually a hill,
          not a mountain, which is why it’s perfect for beginners. The
          Mamamayang May Aksyon Dulot ng Likas-Yamang Umuugnay sa Madlum guides
          will take you on an adventure filled with stories and fun facts about
          the destination. They also offer many activities for tourists like
          caving (Madlum Cave), spelunking, swimming (Madlum River), river
          crossing, monkey bridge crossing, and bird-watching. Refreshing views
          and rich flora and fauna await everyone at this national park.
        </p>
        <p>Budget: P650 to P950</p>
        <p>Travel time from Manila: Three hours</p>
        <p>
          How to get there: Take any Cabanatuan-bound bus from Cubao or Pasay.
          Tell the conductor to drop you off at Barangay Kamias, where you can
          take a tricycle to Barangay Madlum.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Mt. Pinatubo (Capas, Tarlac)</h2>
        <img src="/images/mt_pinatubo.webp" alt="mt.pinatubo">
        <p>
          Ever heard of a beautiful disaster? The 4x4 ride and trek going to and
          from the crater of Mt. Pinatubo is just that. After the 1991 eruption,
          Mt. Pinatubo became famous for its out-of-the-box hiking. Instead of
          mossy forests, vast grasslands, and other flora and fauna, it gives
          you long stretches of sand, ash, and a mix of white and gray
          formations. Instead of views of other mountain ranges, it has a crater
          lake that changes color depending on the weather. Visit Mt. Pinatubo
          before the landscape changes again!
        </p>
        <p>Budget: P2,000 (the 4x4 jeep ride is pricey but worth it!)</p>
        <p>Travel time from Manila: 2.5 to three hours</p>
        <p>
          How to get there: Get on a bus bound for Olongapo or Baguio and have
          the driver drop you off at the Capas Public Market (Capas, Tarlac).
          Then, ride a jeep or hire a tricycle going to Sta. Juliana. Hire a 4x4
          jeep to take you to the jump-off point.
        </p>
      </div>
      </section>
      <section >
        <div class="container">
        <h2>Espadang Bato</h2>
        <img src="/images/espadang_bato.png" alt="espadang bato">
        <p>
          Espadang Bato is not mountain itself but a unique and iconic rock
          formation within the mountains of Barangay Mascap of Rodriguez, Rizal.
        </p>
        <p>
          It isn’t difficult to understand the reason why locals dubbed it as
          Espadang Bato which is quite obvious with its sharply pointed shape
          resembling a sword. At a height of 455 meters above sea level, the
          novelty of this spot makes it one of, if not the most visited peaks
          among the mountains of Rodriguez.
        </p>
        <p>Budget: P600-P800</p>
        <p>Travel time from Manila: 1.5-2 hours</p>
        <p>
          How to get there: Ride a van from Jollibee Farmers’ Cubao going to
          Montalban and get off at San Isidro then transfer to a tricycle to
          Barangay Mascap.
        </p>
      </div>
      </section>
      <section id="comment-form">
        <div class="container">
        <h3>Leave a Comment:</h3>
        <div>
          <form action="/submit" method="POST">
            <fieldset>
              <label for="name"
                ><input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Your name"
                  required
              /></label>
              <label for="email"
                ><input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Your email"
                  required
              /></label>
            </fieldset>
            <textarea
              name="message"
              id="message"
              rows="5"
              cols="60"
              placeholder="Start the discussion"
              required></textarea>
            <input type="submit" name="submit" value="Post Comment" />
          </form>
        </div>
      </div>
      </section>
      <section id="comments">
        <div class="container"> 
        <h3>Comments:</h3>
        <ul class="comment-list">
          <% if(locals.comments){ %> <% comments.forEach((comment)=>{ %>
            <div class="comment">
              <li>
                <p class="list-user">[<%= comment.commentID %>] <%= comment.name %>:</p>
                <div class="list-content">
              <p class="list-msg"><%= comment.message %></p>
              <p class="list-time">• <%=  comment.time%></p>
                </div>
              <form action="/edit?id=<%= comment.commentID %>" method="POST">
                <input type="submit" name="submit" value="Edit" />                
              </form>
              <form action="/delete?id=<%= comment.commentID %>" method="POST">
                <input type="submit" name="submit" value="Delete" />
              </form>
              </li>
            </div>
          <hr class="hr-comment"/>
          <% }) %> 
            <% if(isLast) { %>
              <p>Be the first to comment!</p>
            <% } %>
          <% } %>
        </ul>
      </div>
      </section>
    </div>
  </main>
  <%- include("partials/footer.ejs") %>
    
